{% extends "Partials/base.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/assets/images/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>{{ title }}</h1>
                        <span class="subheading">{{ sub_title }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for post in posts %}
                    <div class="post-preview">
                        <a href="/posts/{{ post.post_id }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                            <h3 class="post-subtitle">{{ post.content }}</h3>
                        </a>
                        <p class="post-meta">Opublikowany przez
                            <a href="#">{{ post.display_name }}</a>
                            dnia {{ post.date }} o godzinie {{ post.hour }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}